<div class="col-md-12">
  <h1 class="text-center">商品名称: <%= @product.title %> </h1>
  <div class="col-md-offset-4">
    <div class="col-md-4">
      <p class="margin-top-60">
        商品描述: <%= simple_format(@product.description) %>
      </p>
    </div>

  </div>

</div>